.base-stats{
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
 
  background-color: lightblue;
  margin-top: 10px;
  
}

.profile{
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

.moves{
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}