<div class="container">

  <section class="pokemon">
    
    <div class="base-stats">
      <h1>{{ pokemon.name }}</h1>
      <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png' alt="{{pokemon.name}}" width="200px">
      <br/>
    
      <button *ngIf="!pokemonIsCollected" class="btn btn-success" (click)="onCollectPokemonClicked()"> Collect Pokemon </button>
      <button *ngIf="pokemonIsCollected"class="btn btn-success" (click)="onRemovePokemonCliced()"> Remove Pokemon </button>

      <div class="type">
        <b>Type</b>
        <li *ngFor="let type of pokemon.types" [ngClass]="type.type.name">
          {{type.type.name}}
        </li>
      </div>
    </div>

  <div class="profile">
    <div class="pokemon-physic">
      <b>Height:</b><p> {{ pokemon.height }} cm</p> <!--Is it in cm? seems kind of small-->
      <b>weight:</b><p> {{ pokemon.weight }} grams</p>
      <b>Base experience:</b><p> {{ pokemon.base_experience }} </p>
      <hr>
    </div>
      <div class="abilities">
        <app-pokemon-abilities 
          [abilityUrls]="getAbilityUrls()"
        ></app-pokemon-abilities>
      </div> 
  </div>

  <div class="moves">
    <app-pokemon-moves
      [movesUrls]="getMoveUrls()">
    </app-pokemon-moves>
  </div>
  
  </section>

</div>