
<div class="card mb-5" (click)="onCardClicked()">
  <div class="card-content">
    <div class="content">
      <div class="pokemonImage">
        <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png' alt="pokemon.name">
      </div>
      <h3 class=title>{{ pokemon.name }}</h3>
    </div>
  </div>
</div>