<div class="card-abilties">
  <h2>Abilities</h2>
  <div *ngFor="let ability of abilities">
    <h3>{{ability.name}}</h3>
    <div *ngFor="let effect of ability.effect_entries">
      <b>Effect:</b><p> {{effect.effect}}</p>
      <br>
      <b>Short effect:</b><p>{{effect.short_effect}}</p>
  </div>
  </div>  
</div>