<nav class="navbar navbar-dark bg-primary">
  <ul class="navbar-nav">
    <li>
      <a class="nav-item nav-link active" routerLink="/collection">My pokemon collection</a>
    </li>
    <li>
      <a a class="nav-item nav-link active" routerLink="/pokemon">Pokemon list</a>
    </li>
  </ul>
</nav>