<ul class="pokemonCollection">
  <div *ngFor="let pokemon of collection$ | async">
    <h5>{{ pokemon.name }}</h5>
    <div>
      <img src='https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ pokemon.id }}.png' alt="{{pokemon.name}}" width="150px">
    </div>
    <button class="btn btn-danger" (click)="clickedRemoveFromCollection(pokemon.id)">Remove</button>
    <hr>
  </div>
</ul>
