<form [formGroup]="registerTrainerForm" (ngSubmit)="clickedConfirm()">

  <div class='form-group'>
    <input 
      type="text" 
      formControlName="trainerName"
      class="form-controll" 
      placeholder="Enter trainer name"
      aria-required="true" 
      name="trainerName"
      required minlength="2"
     >
  </div>

  <div *ngIf="trainerName.invalid && (trainerName.dirty || trainerName.touched)">
    <p *ngIf="trainerName.errors.required">Trainer name is required</p>
    <p *ngIf="trainerName.errors.minlength">Trainer name is too short</p>
  </div>

  
  <button class="btn btn-success"
    type="button"
    [disabled]="registerTrainerForm.invalid"
    (click)="clickedConfirm()"
  >
    Confirm
  </button> 
</form>
  