<div class="container">
  <ul>

    <app-card
      [pokemon]="pokemon" 
      *ngFor="let pokemon of getPokemon()"
      (clickedOnPokemon)="clickedOnPokemon($event)"
    ></app-card>

  </ul>
</div>

<footer>
  <button class="btn btn-success" (click)="previousPage()">Prev</button>&nbsp; <!--&nbsp makes a space between the btns-->
  <button class="btn btn-success" (click)="nextPage()">Next</button>
</footer>
